.w-55, .width-55{
    width: 55%;
}
.w-55 p{
    font-size: 20px;
}
.w-45, .width-45{
    width: 45%;
}
.d-flex-wrap{
    /* height: 500vh; */
    display: flex;
    flex-wrap: wrap;
}
.d-flex-wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}

.super-heading{
    font-size: 25px;
    font-weight: 600;
}
.about-description{
    font-size: 25px;
    color: #1c1c2ab3;
}
.about-head{
    font-size: 45px;
}
.content{
    padding-top: 0px;
}
.about-sub-heading{
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .about-description{
        font-size: 20px;
    }
    .about-head{
        font-size: 35px;
    }
}

@media screen and (max-width: 900px) {
    .width-45{
        width: 100%;
    }
    .width-55{
        width: 100%;
    }
    .width-45 img{
        width: 100%;
        height: auto;
    }
    
}
@media screen and (max-width: 600px) {
    .w-45{
        width: 100%;
        text-align: center;
    }
    .w-55{
        width: 100%;
    }
    .w-45 img{
        width: 100%;
        height: auto;
    }
}