.blogContainer{
    height: fit-content;
    /* background-color: rgba(146, 22, 218, 0.61); */
    margin-bottom: 100px;
    padding: 40px 2em;
    /* font-size: 50px; */
}
.blogHead{
    background-color: #ffefe3a1;
    /* height: 100px; */
}
.content{
    padding-top: 0%;
}

.index-table, .blog-content{
    padding: 20px 2em;
    /* border: 1px solid; */
}
.blog-content{
    width: 80%;
    
}
.index-table{
    width: 20%;
    /* display: none; */
    visibility: hidden;
}
.index-table-content{
    height: 300px;
    background-color: #0000002d;
    margin-bottom: 5px;
}


.blog-card{
    /* background-color: cadetblue; */
    margin: auto;
    width: 33%;
    margin-bottom: 30px;
}
.blog-container{
    margin: auto;
}

.blog-card-in{
    /* background-color: #4077d6ee; */
    height: 300px;
    border-radius: 5px;
    padding: 15px 1.2em;
    border: .2px solid #4141415c;
    box-shadow: 2px 2px 10px #414141bd;
    
}

.blog-card-in:hover{
    transform: scale(1.05);
    /* background-color: pink; */
}

@media screen and (max-width: 1139px){

    .blog-content{
        width: 100%;
    }
    .blog-card{
        width: 33%;
        /* margin: 2px; */
    }
    
}


@media screen and (max-width: 767px) {
    .blog-card{
        width: 48%;
        margin: 2px 2px 30px 2px;
    }
    .blog-content{
        margin: 10px;
    }

}

@media screen and (max-width: 480px){
    .blog-card{
        width: 100%;
    }
}
