.index-table, .course-content{
    padding: 20px 2em;
    border: 1px solid;
}
.course-content{
    width: 70%;
    
}
.index-table{
    width: 30%;
}
.index-table-content{
    height: 300px;
    background-color: #0000002d;
    margin-bottom: 5px;
}

.main-topic{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}
.explain-topic{
    color: #1c1c2ab3;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 30px;
}

.subtopic{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
    font-weight: bold;
}

