@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.darkmode {
    height: 35px;
    background-color: white;
    border: 2px solid black;
    width: 60px;
    border-radius: 40px;
    padding: 3.5px 1px;
    box-sizing: border-box;
    outline: 1px solid white;

}

.darkmodeinside {
    display: inline-block;
    height: 25px;
    background-color: black;
    width: 25px;
    border-radius: 50%;

}

.navbutton {
    color: black;
}

.burgerbtn {
    border: 1px solid black;
    width: fit-content;
    border-radius: 5px;
}

.burgerbtn-in {
    background-color: black;
    width: 20px;
    height: 2px;
    margin: 5px;
    border-radius: 5px;

}

.my-btn {
    display: inline-block;
    height: 35px;
    line-height: 1.5rem;
    vertical-align: middle;
    text-align: center;
    padding: 0.375rem 1.2rem;
    color: #fff;
    background: #2b4eff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1rem;
}

.my-btn:hover {
    background-color: #2c45c4;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 11;
    user-select: none;


}


.navbar-container {
    padding-right: var(--bs-gutter-x, 7.75rem);
    padding-left: var(--bs-gutter-x, 7.75rem);
}



.nav-item .nav-link {
    color: #0e1133;
    font-weight: 500;
    font-size: 16px;
}



.navbar-brand div {
    display: inline;
    font-size: 27px;
    font-weight: 700;
}

.navbar-brand div img {
    height: 40px;
}
body {
    font-family: 'Hind', sans-serif;
    background-color: #b8dde3;
}

@media screen and (max-width: 991px) {
    .navbar-container {
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
    }

    .navbar-nav {
        align-items: unset !important;
    }

}

@media screen and (max-width: 1170px) {
    .navbar-container {
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
    }


}